body{
    width: 90%;
    margin: 10px auto;
}
.pointer{ cursor: pointer; }
.user-home-nav{
    margin-bottom: 20px;
}
#rest-vote-trend-graph-box{
    margin-top: 15px;
    width: 90%;
    position: relative;
    height: 400px;
}
#rest-vote-trend-graph-box-inner{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 10px auto;
    position: relative;
    height: 380px;
}
    .rest-vote-bar{
        background-color: #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: inline-block;
        margin: 0px 5px;
        position: absolute;
        bottom: 0px;
        min-height: 1px;
        text-align: center;
    }
.rest-grid{
    display: inline-block;
    width: 15%;
    height: 300px;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    margin: 5px 15px;
    vertical-align: top;
}
    .rest-grid .thumbnail{
        display: block;
        width: 90%;
        margin: 10px auto;
    }
    .rest-grid .rest-name{
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .rest-grid .rest-rating{
        display: block;
    }
    .rest-grid .thumbs-box .thumb{
        font-size: 24px;
        margin: 5px 15px;
    }
.vote-history-entry{
    height: 250px;
    display: block;
    width: 60%;
    margin: 15px auto;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 15px;
}
    .vote-history-entry .vote-details{
        float: right;
        width: 65%;
    }
    .vote-history-entry .rest-name{
        font-size: 30px;
        display: block;
    }
    .vote-history-entry .rest-picture{
        float: left;
        display: block;
        height: 100%;
        
    }
    .vote-history-entry .vote-date{
        font-size: 12px;
        display: block;
    }
    .vote-history-entry .vote-value{
        font-size: 36px;
        display: inline-block;
        margin: 20px;
    }
.rest-vote-history-list{
    font-size: 18px;
}
.comment{
    background-color: #eee;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
}
.comment-user{
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.comment-date{
    font-size: 10px;
    color: #666;
    font-weight: bold;
    display: block;
}
.comment-text{
    margin-top: 10px;
}