body{
    width: 90%;
    margin: 10px auto;
}
.pointer{ cursor: pointer; }
.user-home-nav{
    margin-bottom: 20px;
}
.rest-grid{
    display: inline-block;
    width: 15%;
    height: 300px;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    margin: 5px 15px;
}
    .rest-grid .thumbnail{
        display: block;
        width: 90%;
        margin: 10px auto;
    }
    .rest-grid .rest-name{
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .rest-grid .rest-rating{
        display: block;
    }
    .rest-grid .thumbs-box .thumb{
        font-size: 24px;
        margin: 5px 15px;
    }